.footer{
height: 16rem;
background-color: #004AAD;
overflow-y: hidden;
}
.footer-title{
    color: #FFF;
font-family: Montserrat;
font-size: 1.25rem;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 6px;
}
.footer-slogan{
    color: #FFF;
font-family: Lato;
font-size: 0.75rem;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.footer-main{
    margin-left: 4rem;
    margin-top: 4rem;
}
.footer-nav{
    margin-left: 4rem;
    margin-top: 2rem; 
    display: inline-flex;
align-items: flex-start;
gap: 1.5rem;
}
.footer-nav-a{
color: #FFF;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.footer-icon{
     margin-top: 2rem; 
    margin-left: 4rem;
    margin-bottom: 2rem;
gap: 2.5rem;
display: flex;
align-items: flex-start;
gap: 2.5rem;
margin-right: 4rem;
}
.icon-footer{
flex-shrink: 0;
}
